{% extends "inventario/base_generic.html" %}

{% block content %}
    <h1>Registro de elementos en Inventario</h1>

    {% if item_list %}
   
      <table class="table">
        <tr class="thead-dark">
          <th>Name</th>
          <th>Category</th>
          <th>Serial Number</th>
          <th>serial UniAndes</th>
          <th>Comentarios</th>
        </tr>
        {%for item in item_list %}
             <tr>
               <td><a href="{% url 'inventario:read' %}/{{item.id}}">{{item.name}}</a></td>
               <td>{{item.category}}</td>
               <td>{{item.serial_number}}</td>
               <td>{{item.serial_andes}}</td>
               <td>{{item.notes}}</td>
               <td style="width:100px"></td>
               </td>
             </tr>
        {%endfor%}
    
        </table>

    {% else %}
      <p>There are no items in the library.</p>
    {% endif %} 
{% endblock %}